---
dependency:
  name: galaxy
driver:
  name: delegated
platforms:
  - name: ubuntu-latest
    image: docker.io/jrei/systemd-ubuntu:latest
    pre_build_image: no
    privileged: true
  - name: centos-8
    image: docker.io/pycontribs/centos:8
    pre_build_image: true
    privileged: true
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  - name: fedora-latest
    image: docker.io/pycontribs/fedora:latest
    pre_build_image: true
    privileged: true
    command: /sbin/init
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
provisioner:
  name: ansible
scenario:
  name: default
  test_sequence:
    - dependency
    - lint
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - side_effect
    - verify
    - cleanup
    - destroy
verifier:
  name: ansible
lint: |
  yamllint .
  ansible-lint .
