# {{ ansible_managed }}

project_token = "{{ instrumental_api_key }}"
system        = [ "cpu", "disk", "load", "memory", "network", "swap" ]
{% if instrumentald_docker_sockets != [] %}
docker        = [ "{{ instrumentald_docker_sockets | join('", "') }}" ]
{% endif %}
{% if instrumentald_memcached_urls != [] %}
memcached     = [ "{{ instrumentald_memcached_urls | join('", "') }}" ]
{% endif %}
{% if instrumentald_mongodb_urls != [] %}
mongodb       = [ "{{ instrumentald_mongodb_urls | join('", "') }}" ]
{% endif %}
{% if instrumentald_mysql_urls != [] %}
mysql         = [ "{{ instrumentald_mysql_urls | join('", "') }}" ]
{% endif %}
{% if instrumentald_nginx_urls != [] %}
nginx         = [ "{{ instrumentald_nginx_urls | join('", "') }}" ]
{% endif %}
{% if instrumentald_postgresql_urls != [] %}
postgresql    = [ "{{ instrumentald_postgresql_urls | join('", "') }}" ]
{% endif %}
{% if instrumentald_redis_urls != [] %}
redis         = [ "{{ instrumentald_redis_urls | join('", "') }}" ]
{% endif %}
