<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />
    <springProfile name="development,test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <appender
            name="CONSOLE"
            class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="production">
        <appender
            name="LOGZ"
            class="io.logz.logback.LogzioLogbackAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <logzioUrl>https://listener.logz.io:8071</logzioUrl>
            <token>$LOGZIO_TOKEN</token>
            <inMemoryQueue>true</inMemoryQueue>
            <inMemoryQueueCapacityBytes>16777216</inMemoryQueueCapacityBytes>
            <inMemoryLogsCountCapacity>256</inMemoryLogsCountCapacity>
        </appender>
        <root level="WARN">
            <appender-ref ref="LOGZ" />
        </root>
    </springProfile>
</configuration>
